/* Main Style */
html{
    color: #9E9E9E !important;
    border: 0;
    background-color: #111 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444), color-stop(100%, #111));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333 0%, #111 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #333 0%, #111 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #333 0%, #111 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #333 0%, #111 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #333 0%, #111 100%);
}

.centerflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerflex div {
    width: 450px;
    height: 50px;
}

/* scrollbar style */
::-webkit-scrollbar {
    width: 3px;
    height: 4px;
    margin: 150px !important;
}

::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: dodgerblue;
}
::-webkit-scrollbar-thumb:hover {
    background: #000;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}